In [25]:
import pandas as pd
import numpy as np

In [26]:
path = "data/house_prices_train.csv"
data_frames = pd.read_csv(path)
print(data_frames.head(), data_frames.columns)

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns] Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [28]:
X_multi = data_set[['GrLivArea', 'OverallQual']]
Y_multi = data_set['SalePrice']

print(X_multi, Y_multi)

      GrLivArea  OverallQual
0          1710            7
1          1262            6
2          1786            7
3          1717            7
4          2198            8
...         ...          ...
1455       1647            6
1456       2073            6
1457       2340            7
1458       1078            5
1459       1256            5

[1460 rows x 2 columns] 0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [30]:
display(X_multi)
display(Y_multi)

      GrLivArea  OverallQual
0          1710            7
1          1262            6
2          1786            7
3          1717            7
4          2198            8
...         ...          ...
1455       1647            6
1456       2073            6
1457       2340            7
1458       1078            5
1459       1256            5

[1460 rows x 2 columns]

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [49]:
# Normalizing datqa
X_multi_normalize = (X_multi - np.mean(X_multi))/np.std(X_multi)
Y_multi_normalize = Y_multi - np.mean(Y_multi)/np.std(Y_multi)
print(X_multi_normalize)
print(Y_multi_normalize)

      GrLivArea  OverallQual
0      1.807001  -545.221740
1      0.954156  -545.945056
2      1.951680  -545.221740
3      1.820327  -545.221740
4      2.735994  -544.498425
...         ...          ...
1455   1.687070  -545.945056
1456   2.498034  -545.945056
1457   3.006315  -545.221740
1458   0.603880  -546.668371
1459   0.942734  -546.668371

[1460 rows x 2 columns]
0       208497.721834
1       181497.721834
2       223497.721834
3       139997.721834
4       249997.721834
            ...
1455    174997.721834
1456    209997.721834
1457    266497.721834
1458    142122.721834
1459    147497.721834
Name: SalePrice, Length: 1460, dtype: float64

In [50]:
# Transposing shape
print(X_multi_normalize.shape, Y_multi_normalize)
X_multi_normalize = np.array(X_multi_normalize).T
Y_multi_normalize = np.array(Y_multi_normalize).reshape((1,len(Y_multi_normalize)))
print(X_multi_normalize.shape,Y_multi_normalize.shape)

(1460, 2) 0       208497.721834
1       181497.721834
2       223497.721834
3       139997.721834
4       249997.721834
            ...
1455    174997.721834
1456    209997.721834
1457    266497.721834
1458    142122.721834
1459    147497.721834
Name: SalePrice, Length: 1460, dtype: float64
(2, 1460) (1, 1460)