In [225]:
import pandas as pd
import numpy as np

In [226]:
path = "data/house_prices_train.csv"
data_frames = pd.read_csv(path)
print(data_frames.head(), data_frames.columns)

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns] Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [227]:
X_multi = data_set[['GrLivArea', 'OverallQual']]
Y_multi = data_set['SalePrice']

print(X_multi, Y_multi)

      GrLivArea  OverallQual
0          1710            7
1          1262            6
2          1786            7
3          1717            7
4          2198            8
...         ...          ...
1455       1647            6
1456       2073            6
1457       2340            7
1458       1078            5
1459       1256            5

[1460 rows x 2 columns] 0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [228]:
display(X_multi)
display(Y_multi)

      GrLivArea  OverallQual
0          1710            7
1          1262            6
2          1786            7
3          1717            7
4          2198            8
...         ...          ...
1455       1647            6
1456       2073            6
1457       2340            7
1458       1078            5
1459       1256            5

[1460 rows x 2 columns]

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [229]:
display(X_multi)
display(Y_multi)

      GrLivArea  OverallQual
0          1710            7
1          1262            6
2          1786            7
3          1717            7
4          2198            8
...         ...          ...
1455       1647            6
1456       2073            6
1457       2340            7
1458       1078            5
1459       1256            5

[1460 rows x 2 columns]

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [230]:
# Normalizing datqa
X_multi_normalize = (X_multi - np.mean(X_multi))/np.std(X_multi)
Y_multi_normalize = Y_multi - np.mean(Y_multi)/np.std(Y_multi)
print(X_multi_normalize)
print(Y_multi_normalize)

      GrLivArea  OverallQual
0      1.807001  -545.221740
1      0.954156  -545.945056
2      1.951680  -545.221740
3      1.820327  -545.221740
4      2.735994  -544.498425
...         ...          ...
1455   1.687070  -545.945056
1456   2.498034  -545.945056
1457   3.006315  -545.221740
1458   0.603880  -546.668371
1459   0.942734  -546.668371

[1460 rows x 2 columns]
0       208497.721834
1       181497.721834
2       223497.721834
3       139997.721834
4       249997.721834
            ...
1455    174997.721834
1456    209997.721834
1457    266497.721834
1458    142122.721834
1459    147497.721834
Name: SalePrice, Length: 1460, dtype: float64

In [231]:
# Transposing shape
print(X_multi_normalize.shape, Y_multi_normalize)
X_multi_normalize = np.array(X_multi_normalize).T
Y_multi_normalize = np.array(Y_multi_normalize).reshape((1,len(Y_multi_normalize)))
print(X_multi_normalize.shape,Y_multi_normalize.shape)

(1460, 2) 0       208497.721834
1       181497.721834
2       223497.721834
3       139997.721834
4       249997.721834
            ...
1455    174997.721834
1456    209997.721834
1457    266497.721834
1458    142122.721834
1459    147497.721834
Name: SalePrice, Length: 1460, dtype: float64
(2, 1460) (1, 1460)

In [232]:
def layer_sizes(X,Y):
    # Getting number of features to feed in one network and for output its the price, i.e 1 output
    n_x = X.shape[0]
    n_y = Y.shape[0]
    return (n_x,n_y)

(n_x,n_y) = layer_sizes(X_multi_normalize, Y_multi_normalize)
print("The size of input layer", n_x)
print("The size of output layer", n_y)

The size of input layer 2
The size of output layer 1

In [233]:
def initialize_parameters(n_x, n_y):
    W = np.random.randn(n_y,n_x) * 0.01
    b = np.zeros((n_y,1))
    parameters= {"W":W, "b":b}
    return parameters

parameters = initialize_parameters(n_x, n_y)
print(parameters)

{'W': array([[-0.00236073, -0.00643156]]), 'b': array([[0.]])}

In [234]:
def forward_propagation(X, parameters):
    W = parameters["W"]
    b = parameters["b"]
    # y = wx + b
    predicted_y = np.matmul(W, X) + b
    return predicted_y

y_hat = forward_propagation(X_multi_normalize, parameters)
print(y_hat[0, 0:5]) # first five predicted price

[3.50235898 3.50902436 3.50201743 3.50232752 3.49551384]

In [235]:
def compute_cost(actual_y, predicted_y):
    total_number_outputs_y = predicted_y.shape[1]
    sqaured_error = (actual_y - predicted_y) ** 2
    mean_squared_error = np.sum(sqaured_error)/(2*total_number_outputs_y)
    return mean_squared_error

print("The cost function value is:",compute_cost(Y_multi_normalize,y_hat))

The cost function value is: 19518587671.79723

In [236]:
def backward_propagation(predicted_y,actual_y, X):
    print(X.shape[1], X.shape)
    input_size_m = X.shape[1]
    difference_in_output = predicted_y - actual_y
    print(difference_in_output.shape)
    gradient_of_b = 1/input_size_m * (np.sum(difference_in_output*X))
    gradient_of_w = 1/input_size_m * np.dot(difference_in_output,X.T)
    gradients = {"dW": gradient_of_w, "db" : gradient_of_b}
    return gradients
    
gradients = backward_propagation(y_hat, Y_multi_normalize, X_multi_normalize)
print(gradients)

1460 (2, 1460)
(1, 1460)
{'dW': array([[ -316190.98109002, 98694061.42302233]]), 'db': 98377870.4419323}

In [237]:
def each_level_grad_descent_for_parameters_update(gradients_w_b, parameters_w_b, learning_rate= 1.2):
    W = parameters_w_b["W"]
    b = parameters_w_b["b"]
    
    dW = gradients_w_b["dW"]
    db = gradients_w_b["db"]
    
    W = W - learning_rate * dW
    b = b - learning_rate * db
    parameters = {"W": W, "b":b}
    return parameters

print("The updated parameters from backward propagation",each_level_grad_descent_for_parameters_update(gradients,parameters))

The updated parameters from backward propagation {'W': array([[ 3.79429175e+05, -1.18432874e+08]]), 'b': array([[-1.18053445e+08]])}

In [238]:
def nn_model(input_X,output_label_Y, iterations = 10, learning_rate = 1.2, print_cost= False):
    # Training model by feeding training data and testing for new data
    nn_layer_size = layer_sizes(input_X, output_label_Y)
    nn_input_feature_layer = nn_layer_size[0]
    nn_output_price_layer = nn_layer_size[1]
    parameters = initialize_parameters(nn_input_feature_layer, nn_output_price_layer)
    print(parameters,"BEGIN")
    
    for i in range(0,iterations):
        y_hat = forward_propagation(input_X, parameters)
        cost = compute_cost(output_label_Y,y_hat)
        gradients = backkward_propagation(y_hat, output_label_Y, input_X)
        parameters = each_level_grad_descent_for_parameters_update(gradients, parameters)
        #print("Update parameters", parameters)
        if(print_cost):
            print("Cost is %f", cost)
    return parameters

print("Neural Network", nn_model(X_multi_normalize, Y_multi_normalize, 30, 1.2))

{'W': array([[0.00976438, 0.00438093]]), 'b': array([[0.]])} BEGIN
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
Neural Network {'W': array([[-3.29657759e+166,  1.25351008e+169]]), 'b': array([[1.2502135e+169]])}

/var/folders/mw/m50sp3mn4151q1n3mldhw2fh0000gq/T/ipykernel_68846/308126135.py:3: RuntimeWarning: overflow encountered in square
  sqaured_error = (actual_y - predicted_y) ** 2

In [239]:
def nn_model(input_X,output_label_Y, iterations = 10, learning_rate = 1.2, print_cost= False):
    # Training model by feeding training data and testing for new data
    nn_layer_size = layer_sizes(input_X, output_label_Y)
    nn_input_feature_layer = nn_layer_size[0]
    nn_output_price_layer = nn_layer_size[1]
    parameters = initialize_parameters(nn_input_feature_layer, nn_output_price_layer)
    print(parameters,"BEGIN")
    
    for i in range(0,iterations):
        y_hat = forward_propagation(input_X, parameters)
        cost = compute_cost(output_label_Y,y_hat)
        gradients = backkward_propagation(y_hat, output_label_Y, input_X)
        parameters = each_level_grad_descent_for_parameters_update(gradients, parameters)
        #print("Update parameters", parameters)
        if(print_cost):
            print("Cost is %f", cost)
    return parameters

print("Neural Network", nn_model(X_multi_normalize, Y_multi_normalize, 30, 1.2))

{'W': array([[-0.00960193, -0.00984169]]), 'b': array([[0.]])} BEGIN
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
1460 (2, 1460)
(1, 1460)
Neural Network {'W': array([[-3.29643654e+166,  1.25345645e+169]]), 'b': array([[1.25016001e+169]])}

/var/folders/mw/m50sp3mn4151q1n3mldhw2fh0000gq/T/ipykernel_68846/308126135.py:3: RuntimeWarning: overflow encountered in square
  sqaured_error = (actual_y - predicted_y) ** 2

In [250]:
def predict(X_data,Y_data,updated_parameters,X_test):
    print(X_data,Y_data, updated_parameters)
    W = updated_parameters["W"]
    b = updated_parameters["b"]
    
    if isinstance(X_data,pd.Series):
        X_mean = np.mean(X_data)
        X_deviation = np.std(X_data)
        x_normalized = ((X_test - X_mean)/X_std).reshape((1, len(X_test)))
    else:
        X_mean = np.array(np.mean(X_data)).reshape((len(X_data.axes[1]),1))
        X_std = np.array(np.std(X_data)).reshape((len(X_data.axes[1]),1))
        X_pred_norm = ((X_test - X_mean)/X_std)
    y_pred_normalize = np.matmul(Y_data,X_test) + b
    y_pred = y_pred_normalize * np.mean(Y_data) + np.std(Y_data)
    return y_pred[0]

In [241]:
parameters_multi = nn_model(X_multi_normalize, Y_multi_normalize, iterations=100, print_cost=True)

{'W': array([[-0.0007313,  0.0002139]]), 'b': array([[0.]])} BEGIN
1460 (2, 1460)
(1, 1460)
Cost is %f 19519243030.269142
1460 (2, 1460)
(1, 1460)
Cost is %f 2.0822570854708224e+21
1460 (2, 1460)
(1, 1460)
Cost is %f 2.6526627588861855e+32
1460 (2, 1460)
(1, 1460)
Cost is %f 3.379323216856345e+43
1460 (2, 1460)
(1, 1460)
Cost is %f 4.3050423072925136e+54
1460 (2, 1460)
(1, 1460)
Cost is %f 5.484349403197772e+65
1460 (2, 1460)
(1, 1460)
Cost is %f 6.986711448899133e+76
1460 (2, 1460)
(1, 1460)
Cost is %f 8.9006249021472e+87
1460 (2, 1460)
(1, 1460)
Cost is %f 1.13388286074424e+99
1460 (2, 1460)
(1, 1460)
Cost is %f 1.444494466427161e+110
1460 (2, 1460)
(1, 1460)
Cost is %f 1.8401938469809312e+121
1460 (2, 1460)
(1, 1460)
Cost is %f 2.344289627389332e+132
1460 (2, 1460)
(1, 1460)
Cost is %f 2.986475509686975e+143
1460 (2, 1460)
(1, 1460)
Cost is %f 3.8045793769486446e+154
1460 (2, 1460)
(1, 1460)
Cost is %f 4.846791540246084e+165
1460 (2, 1460)
(1, 1460)
Cost is %f 6.174503383194384e+176
1460 (2, 1460)
(1, 1460)
Cost is %f 7.865923614107663e+187
1460 (2, 1460)
(1, 1460)
Cost is %f 1.0020685140667406e+199
1460 (2, 1460)
(1, 1460)
Cost is %f 1.2765713934508355e+210
1460 (2, 1460)
(1, 1460)
Cost is %f 1.6262705590492894e+221
1460 (2, 1460)
(1, 1460)
Cost is %f 2.0717649986509302e+232
1460 (2, 1460)
(1, 1460)
Cost is %f 2.6392965092747512e+243
1460 (2, 1460)
(1, 1460)
Cost is %f 3.3622954671045504e+254
1460 (2, 1460)
(1, 1460)
Cost is %f 4.2833500398249334e+265
1460 (2, 1460)
(1, 1460)
Cost is %f 5.456714837577286e+276
1460 (2, 1460)
(1, 1460)
Cost is %f 6.951506774322156e+287
1460 (2, 1460)
(1, 1460)
Cost is %f 8.855776391441755e+298
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f inf
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan
1460 (2, 1460)
(1, 1460)
Cost is %f nan

/var/folders/mw/m50sp3mn4151q1n3mldhw2fh0000gq/T/ipykernel_68846/308126135.py:3: RuntimeWarning: overflow encountered in square
  sqaured_error = (actual_y - predicted_y) ** 2
/Users/anjilabudathoki/Library/Python/3.9/lib/python/site-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/Users/anjilabudathoki/Library/Python/3.9/lib/python/site-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/var/folders/mw/m50sp3mn4151q1n3mldhw2fh0000gq/T/ipykernel_68846/3585521923.py:5: RuntimeWarning: invalid value encountered in matmul
  predicted_y = np.matmul(W, X) + b

In [242]:
print("W is", parameters_multi["W"])
print("b is", parameters_multi["b"])
multi_params_w = parameters_multi["W"]
multi_params_b = parameters_multi["b"]

W is [[nan nan]]
b is [[nan]]

In [254]:
X_test_data =  np.array([[1710, 7], [1200, 6], [2200, 8]])
X_test_data_formatted =  np.array([[1710, 7], [1200, 6], [2200, 8]]).T
print("Before transpose",X_test_data.shape)
print("After transpose",X_test_data_formatted.shape)
Y_test_data_output = predict(X_multi, Y_multi, parameters_multi, X_test_data_formatted)

print(f"Ground living area, square feet:\n{X_pred_multi[0]}")
print(f"Rates of the overall quality of material and finish, 1-10:\n{X_pred_multi[1]}")
print(f"Predictions of sales price, $:\n{np.round(Y_pred_multi)}")

Before transpose (3, 2)
After transpose (2, 3)
      GrLivArea  OverallQual
0          1710            7
1          1262            6
2          1786            7
3          1717            7
4          2198            8
...         ...          ...
1455       1647            6
1456       2073            6
1457       2340            7
1458       1078            5
1459       1256            5

[1460 rows x 2 columns] 0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64 {'W': array([[nan, nan]]), 'b': array([[nan]])}

ValueError: cannot reshape array of size 1 into shape (2,1)