In [1]:
# First day for chapter 1 week 1 ml mathematics

In [3]:
hello_world = "Hello world!"

In [5]:
print(hello_world)

Hello world!

In [2]:
import numpy as np

In [16]:
one_dimensional_array = [1,2,3,4,5,'anj']

In [19]:
# Above one_dimensional_array is pythons list data type

In [21]:
print(type(one_dimensional_array)) # Prints <class 'list'>

<class 'list'>

In [11]:
print(one_dimensiona_array)

NameError: name 'one_dimensiona_array' is not defined

In [12]:
print(one_dimensional_array)

[1, 2, 3, 4, 5, 'anj']

In [13]:
# Usually we keep array of same kind either all number or all string but we can also keep mixed type.

In [22]:
one_dimensional_array_np = np.array([1,2,3, 'anj'])

In [25]:
print(one_dimensional_array_np)

['1' '2' '3' 'anj']

In [27]:
one_dimensional_array_np_same_type = np.array([1,2,3,4,5])

In [28]:
print(one_dimensional_array_np_same_type)

[1 2 3 4 5]

In [3]:
print(np.arange(2)) # Creates a range of array from 0 to n-1 where n is input to arange

[0 1]

In [4]:
one_dimensional_till_five = np.arange(6)
print(one_dimensional_till_five)

[0 1 2 3 4 5]

In [5]:
print([i for i in one_dimensional_till_five])

[0, 1, 2, 3, 4, 5]

In [7]:
# Create an integer beginning from 2 ending with 18 and incremented by 2
even_numbers_from_two_to_eighteen = np.arange(2,18,2)

In [8]:
print(even_numbers_from_two_to_eighteen)

[ 2  4  6  8 10 12 14 16]

In [11]:
c = np.arange(1, 20, 3)
print(c)

[ 1  4  7 10 13 16 19]

In [12]:
print(np.arange(3,21,7))

[ 3 10 17]

In [13]:
line_spaced_array = np.linspace(0,100,5)

In [14]:
print(line_spaced_array)

[  0.  25.  50.  75. 100.]

In [15]:
print(line_spaced_array.dtype)

float64

In [16]:
string_type = np.array(['anjila', 'testing'])

In [17]:
print(string_type)

['anjila' 'testing']

In [18]:
print(string_type.dtype)

<U7

In [19]:
print(np.ones(3))

[1. 1. 1.]

In [20]:
print(np.zeros(6))

[0. 0. 0. 0. 0. 0.]

In [21]:
print(np.empty(4))

[ 25.  50.  75. 100.]

In [22]:
empt_arr = np.empty(3)
print(empt_arr)

[1. 1. 1.]

In [ ]:
rand_arr = np.random.rand(3)
print(rand_arr)